h1 {
  color: white;
  letter-spacing: 4px;
}

header {
  display: flex;
  justify-content: space-between;
  margin-left: 25vw;
  margin-top: 5vh;
  padding: 0.5%;
  width: 54vw;
}
.iconDark {
  color: white;
  background-color: transparent;
  border: none;
  align-items: center;
}
#change-theme-name {
  color: white;
}
@media (max-width:700px){
.iconDark{
  margin-right: -110px;
}
}