* {
  margin: 0;
  padding: 0;
}

.userCardBio > p {
  margin-top:-10%;
  margin-bottom:14%;
  opacity: 50%;
  margin-left: 24%;
}

.userInfoJoinedDate{
width: 60%;
font-size: 15px;
margin-left: 96%;
margin-bottom: -16%;
margin-top: -12%;
}

.userInfoJoinedDate > p {
margin-left: 105%;
margin-bottom: -16%;
margin-top: -21%;
}

.footer1{
  color:#f6f8ff;
  margin-left: 30%;
  margin-top: auto;
}

.userCard {
  border-radius: 1.5%;
  font-family: Space Mono, monospace;
  margin-left: 25vw;
  margin-top: 2%;
  padding: 2%;
  width: 50vw;
  background-color: #1f2a48;
}

.userCardUserAvatarWraper {
  color: #e0f3ff;
  display: flex;
}

.userCardUserAvatar {
  border-radius: 100px;
  height: 25%;
  width: 20%;
  margin-right: 10%;
}

.userCardUserInfo {
  display: flex;
  flex-direction: column;
  width: 25vw;
   margin-left: -5%;
}

.userInfoUsername {
  color: #155099;
}
.userCardBio {
  margin: 2em 0 1.375em;
  color: #e0f3ff;
  justify-content: center;
}
.userCardStats {
  margin-top: -10%;
  margin-left: 24%;
  color: #f6f8ff;
  display: flex;
  justify-content: space-around;
  background-color: #141c2f;
  border-radius: 0.625em;
  text-align: center;
  margin-bottom: 1.5em;
  padding: 1.125em 1em;
}
.userCardContact {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.userCardContact > li {
  width: 50%;
}
.footer {
  display: flex;
  justify-content: center;
  margin: 5%;
  padding: 0;
  color: #e0f3ff;
  list-style: none;
}
@media only screen and (max-width: 700px){
.userCardStats{
margin-top: 10vh;
}
.userInfoJoinedDate{
  width: 42vw;
  margin-left: -3px;
  margin-top: 5px;
}
.userCardStats{
  margin-left: 0vw;
}
.footer1{
  margin-left: 6px;
}
.userCardBio > p{
  margin: 0;
  margin-bottom: -33px;
  margin-top: 68px;
  width: 47vw;
  margin-left: 8px;
}
.userCard{
  width: 80vw;
}
}  




